*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: rgb(240, 238, 234);
}

.submenu{
  background-color:#fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
}

.submenu li{
  display: inline-block;
  padding:10px;
  margin:10px;
}

a{
  text-decoration:none;
  color:chocolate;
}

a:hover{
  color:crimson;
}

a:active{
  color:darkolivegreen;
}